[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
mysql-connector-python = "*"
python-multipart = "*"
ipython = "*"
sqlacodegen = "*"
omymodels = "*"

[dev-packages]

[requires]
python_version = "3.10"
